<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-generator-sqlmapper:war exploded">
    <output-path>$PROJECT_DIR$/wq-single-mvc/mybatis-generator-sqlmapper/target/mybatis-generator-sqlmapper</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-generator-sqlmapper" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis.generator:mybatis-generator-core:1.3.5" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.21" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/wq-single-mvc/mybatis-generator-sqlmapper/target/mybatis-generator-sqlmapper/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="mybatis-generator-sqlmapper/web/Web" />
    </root>
  </artifact>
</component>